/*
                               _____   ____     ___                 
  _ __ ___     __ _  __  __   |___ /  |___ \   / _ \   _ __   __  __
 | '_ ` _ \   / _` | \ \/ /     |_ \    __) | | | | | | '_ \  \ \/ /
 | | | | | | | (_| |  >  <     ___) |  / __/  | |_| | | |_) |  >  < 
 |_| |_| |_|  \__,_| /_/\_\   |____/  |_____|  \___/  | .__/  /_/\_\
                                                      |_|           
*/
@media (max-width: 320px) {

	.copy-1{
		margin-top: 40px;
		font-size: 30px;
	}

	.copy-2{
		margin-top: 20px;
		font-size: 18px;
	}

	.pad-1{
		padding: 10px !important;
		height: auto;
	}

	.pad-1 p, .pad-1 h2 {
	  position: relative;
	  top: 0;
	  -webkit-transform: none;
	  -ms-transform: none;
	  transform: none;
	}

	.pad-1 p{
		margin-top: 0;
	}

	.pad-1 h2{
		margin-top: 0;
	}

	.pad-1 img {
	  position: relative;
	  top: 0;
	  -webkit-transform: none;
	  -ms-transform: none;
	  transform: none;
	}

	.titulo-interesante{
		font-size: 30px;
		font-weight: bolder;
		margin-top: 150px;
	}
	.row-pad-2{
		margin-top: 50px;
	}

	.pad-2{
		padding: 15px !important;
		height: auto;
	}

	.pad-2 p {
	  position: relative;
	  top: 0;
	  -webkit-transform: none;
	  -ms-transform: none;
	  transform: none;
	}
	.pad-2 img {
	  position: relative;
	  top: 0;
	  -webkit-transform: none;
	  -ms-transform: none;
	  transform: none;
	}

	.pad-3{
		padding: 10px !important;
		height: auto;
	}
	.pad-3 p {
	  position: relative;
	  top: 0;
	  -webkit-transform: none;
	  -ms-transform: none;
	  transform: none;
	  font-size: 22px !important;
	}
	.pad-3 img {
	  position: relative;
	  top: 0;
	  -webkit-transform: none;
	  -ms-transform: none;
	  transform: none;
	}
}

/* 
  _____   ____    _               _  _      ___     ___                 
 |___ /  |___ \  / |     __ _    | || |    ( _ )   / _ \   _ __   __  __
   |_ \    __) | | |    / _` |   | || |_   / _ \  | | | | | '_ \  \ \/ /
  ___) |  / __/  | |   | (_| |   |__   _| | (_) | | |_| | | |_) |  >  < 
 |____/  |_____| |_|    \__,_|      |_|    \___/   \___/  | .__/  /_/\_\
                                                          |_|           
*/
@media (min-width: 321px) and (max-width: 480px) {
	.copy-1{
		margin-top: 40px;
		font-size: 30px;
	}

	.copy-2{
		margin-top: 20px;
		font-size: 18px;
	}

	.pad-1{
		padding: 30px  10px !important;
		height: auto;
	}
	.pad-1 p, .pad-1 h2 {
	  position: relative;
	  top: 0;
	  -webkit-transform: none;
	  -ms-transform: none;
	  transform: none;
	}

	.pad-1 p{
		margin-top: 0;
	}

	.pad-1 h2{
		margin-top: 0;
	}

	.pad-1 img {
	  position: relative;
	  top: 0;
	  -webkit-transform: none;
	  -ms-transform: none;
	  transform: none;
	}

	.titulo-interesante{
		font-size: 30px;
		font-weight: bolder;
		margin-top: 150px;
	}
	.row-pad-2{
		margin-top: 50px;
	}

	.pad-2{
		padding: 20px !important;
		height: auto;
	}

	.pad-2 p {
	  position: relative;
	  top: 0;
	  -webkit-transform: none;
	  -ms-transform: none;
	  transform: none;
	}
	.pad-2 img {
	  position: relative;
	  top: 0;
	  -webkit-transform: none;
	  -ms-transform: none;
	  transform: none;
	}


	.pad-3{
		padding: 10px !important;
		height: auto;
	}
	.pad-3 p {
	  position: relative;
	  top: 0;
	  -webkit-transform: none;
	  -ms-transform: none;
	  transform: none;
	  font-size: 24px !important;
	}
	.pad-3 img {
	  position: relative;
	  top: 0;
	  -webkit-transform: none;
	  -ms-transform: none;
	  transform: none;
	}

	
}

/*
  _  _      ___    _               _____    __     _____                
 | || |    ( _ )  / |     __ _    |___  |  / /_   |___  |  _ __   __  __
 | || |_   / _ \  | |    / _` |      / /  | '_ \     / /  | '_ \  \ \/ /
 |__   _| | (_) | | |   | (_| |     / /   | (_) |   / /   | |_) |  >  < 
    |_|    \___/  |_|    \__,_|    /_/     \___/   /_/    | .__/  /_/\_\
                                                          |_|           
*/
@media (min-width: 481px) and (max-width: 767px) {
	.copy-1{
		margin-top: 100px;
		font-size: 34px;
	}

	.copy-2{
		margin-top: 20px;
		font-size: 18px;
	}

	.pad-1{
		padding: 50px  20px !important;
		height: auto;
	}
	.pad-1 p, .pad-1 h2 {
	  position: relative;
	  top: 0;
	  -webkit-transform: none;
	  -ms-transform: none;
	  transform: none;
	}

	.pad-1 p{
		margin-top: 0;
	}

	.pad-1 h2{
		margin-top: 0;
	}

	.pad-1 img {
	  position: relative;
	  top: 0;
	  -webkit-transform: none;
	  -ms-transform: none;
	  transform: none;
	}

	.titulo-interesante{
		font-size: 30px;
		font-weight: bolder;
		margin-top: 150px;
	}
	.row-pad-2{
		margin-top: 50px;
	}

	.pad-2{
		padding: 20px !important;
		height: auto;
	}

	.pad-2 p {
	  position: relative;
	  top: 0;
	  -webkit-transform: none;
	  -ms-transform: none;
	  transform: none;
	}
	.pad-2 img {
	  position: relative;
	  top: 0;
	  -webkit-transform: none;
	  -ms-transform: none;
	  transform: none;
	}


	.pad-3{
		padding: 15px !important;
		height: auto;
	}
	.pad-3 p {
	  position: relative;
	  top: 0;
	  -webkit-transform: none;
	  -ms-transform: none;
	  transform: none;
	  font-size: 28px !important;
	}
	.pad-3 img {
	  position: relative;
	  top: 0;
	  -webkit-transform: none;
	  -ms-transform: none;
	  transform: none;
	}

}

/*
  _____    __      ___                 ___     ___    ____                 
 |___  |  / /_    ( _ )      __ _     / _ \   / _ \  |___ \   _ __   __  __
    / /  | '_ \   / _ \     / _` |   | (_) | | (_) |   __) | | '_ \  \ \/ /
   / /   | (_) | | (_) |   | (_| |    \__, |  \__, |  / __/  | |_) |  >  < 
  /_/     \___/   \___/     \__,_|      /_/     /_/  |_____| | .__/  /_/\_\
                                                             |_|           
*/
@media (min-width: 768px) and (max-width: 992px) {
	.navbar-nav>li>a{
		padding-left: 4px !important;
		padding-right: 4px !important;
		font-size: 12px;
	}

	.navbar-brand img{
		max-width: 150px;
	}
	.pad-1{
		padding: 0 30px 0 50px !important;
		height: 450px;
	}
	.pad-1 p{
		margin-top: 60px;
	}
	.pad-1 h2{
		margin-top: -70px;
	}

	.pad-2{
		padding: 0 20px !important;
    	height: 250px;
	}
	.pad-2 img{
    	max-width: 200px;
	}
}

/*
   ___     ___    ____                _   ____     ___     ___                 
  / _ \   / _ \  |___ \      __ _    / | |___ \   / _ \   / _ \   _ __   __  __
 | (_) | | (_) |   __) |    / _` |   | |   __) | | | | | | | | | | '_ \  \ \/ /
  \__, |  \__, |  / __/    | (_| |   | |  / __/  | |_| | | |_| | | |_) |  >  < 
    /_/     /_/  |_____|    \__,_|   |_| |_____|  \___/   \___/  | .__/  /_/\_\
                                                                 |_|           
*/
@media (min-width: 993px) and (max-width: 1200px) {
	.navbar-nav>li>a{
		padding-left: 10px !important;
		padding-right: 10px !important;
	}

	.pad-1{
		padding: 0 30px 0 50px !important;
		height: 550px;
	}
	.pad-1 p{
		margin-top: 60px;
	}
	.pad-1 h2{
		margin-top: -70px;
	}


}

/*
              _             _   ____     ___    _                
  _ __ ___   (_)  _ __     / | |___ \   / _ \  / |  _ __   __  __
 | '_ ` _ \  | | | '_ \    | |   __) | | | | | | | | '_ \  \ \/ /
 | | | | | | | | | | | |   | |  / __/  | |_| | | | | |_) |  >  < 
 |_| |_| |_| |_| |_| |_|   |_| |_____|  \___/  |_| | .__/  /_/\_\
                                                   |_|           
*/
@media only screen and(min-width: 1201px) {
}

