/*
                                               _              
   __ _    ___   _ __     ___   _ __    __ _  | |   ___   ___ 
  / _` |  / _ \ | '_ \   / _ \ | '__|  / _` | | |  / _ \ / __|
 | (_| | |  __/ | | | | |  __/ | |    | (_| | | | |  __/ \__ \
  \__, |  \___| |_| |_|  \___| |_|     \__,_| |_|  \___| |___/
  |___/                                                       
*/
*{
	transition: all 250ms;
}

html,body { 
	height: 100%; 
	margin: 0px; 
	padding: 0px; 
}

.full{
	height: 100%;
	padding: 0 !important;
}

.row.no-pad {
  margin-right:0;
  margin-left:0;
}
.row.no-pad > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}


/*
  _                   _           
 | |_    ___  __  __ | |_    ___  
 | __|  / _ \ \ \/ / | __|  / _ \ 
 | |_  |  __/  >  <  | |_  | (_) |
  \__|  \___| /_/\_\  \__|  \___/ 

*/
.tx-azul {
	color: #3d50ac;
}

.tx-verde{
	color: #7acc34;
}

.tx-gris{
	color: #4a4a4a;
}

.tx-blanco{
	color: #FFFFFF;
}

.tx-negro{
	color: #000000;
}

.tx-20{
	font-size: 20px;
}

.tx-24{
	font-size: 24px;
}

.tx-40{
	font-size: 40px;
}

.tx-thin{
	font-weight: lighter;
}

.tx-bold{
	font-weight: bolder;
}



/*
   __                       _               
  / _|   ___    _ __     __| |   ___    ___ 
 | |_   / _ \  | '_ \   / _` |  / _ \  / __|
 |  _| | (_) | | | | | | (_| | | (_) | \__ \
 |_|    \___/  |_| |_|  \__,_|  \___/  |___/

*/
.bg-gris{
	background: #f8f8f8;
}

.bg-azul{
	background: #3d50ac;
}

.bg-amarillo{
	background: #ffd452;
}

.bg-verde{
	background: #7acc34;
}


/*
                                                               
  _ __ ___     __ _   _ __    __ _    ___   _ __     ___   ___ 
 | '_ ` _ \   / _` | | '__|  / _` |  / _ \ | '_ \   / _ \ / __|
 | | | | | | | (_| | | |    | (_| | |  __/ | | | | |  __/ \__ \
 |_| |_| |_|  \__,_| |_|     \__, |  \___| |_| |_|  \___| |___/
                             |___/                             
*/
.mt-150{
	margin-top: 150px;
}
.mb-150{
	margin-bottom: 150px;
}


/*
                                   
  _ __ ___     ___   _ __    _   _ 
 | '_ ` _ \   / _ \ | '_ \  | | | |
 | | | | | | |  __/ | | | | | |_| |
 |_| |_| |_|  \___| |_| |_|  \__,_|

*/
.navbar-default{
	background: #f6f6f6;
	border-color: #171717;
	border: none;
	border-bottom: 3px solid #171717; 
}

.navbar{
	min-height: 0;
}
.navbar-brand{
	padding: 0;
}

.navbar-brand img{
	max-width: 220px;
}
.navbar-nav>li>a{
	color: #171717;
	font-weight: bold;
	font-size: 13px;
}

.navbar-nav>li>a:hover{
	background: #abc123;
}


/*
                                   _ 
  ___    ___    ___    ___        / |
 / __|  / _ \  / __|  / __|       | |
 \__ \ |  __/ | (__  | (__   _    | |
 |___/  \___|  \___|  \___| (_)   |_|

*/
.copy-1{
	margin-top: 150px;
	font-weight: bolder;
	font-size: 60px;
}

.copy-2{
	margin-top: 100px;
	font-size: 24px;
}





/*
                                   ____  
  ___    ___    ___    ___        |___ \ 
 / __|  / _ \  / __|  / __|         __) |
 \__ \ |  __/ | (__  | (__   _     / __/ 
 |___/  \___|  \___|  \___| (_)   |_____|

*/
.pad-1{
	padding: 0 30px 0 50px !important;
	height: 700px;
}

.pad-1 p, .pad-1 h2 {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.pad-1 p{
	margin-top: 60px;
}

.pad-1 h2{
	margin-top: -60px;
}

.pad-1 img {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


/*
                                   _____ 
  ___    ___    ___    ___        |___ / 
 / __|  / _ \  / __|  / __|         |_ \ 
 \__ \ |  __/ | (__  | (__   _     ___) |
 |___/  \___|  \___|  \___| (_)   |____/ 

*/
.titulo-interesante{
	font-size: 40px;
	font-weight: bolder;
	margin-top: 150px;
}
.row-pad-2{
	margin-top: 100px;
}

.row-pad-2:hover{
	background: #EFEFEF;
	cursor: pointer;
}

.pad-2{
	padding: 0 30px !important;
	height: 300px;
}

.pad-2 p {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.pad-2 img {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}



/*
                                   _  _   
  ___    ___    ___    ___        | || |  
 / __|  / _ \  / __|  / __|       | || |_ 
 \__ \ |  __/ | (__  | (__   _    |__   _|
 |___/  \___|  \___|  \___| (_)      |_|  

*/
.pad-3{
	padding: 0 30px !important;
	height: 700px;
}

.pad-3 p {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.pad-3 img {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}



/*
   __                   _                 
  / _|   ___     ___   | |_    ___   _ __ 
 | |_   / _ \   / _ \  | __|  / _ \ | '__|
 |  _| | (_) | | (_) | | |_  |  __/ | |   
 |_|    \___/   \___/   \__|  \___| |_|   

*/
.img-footer{
	width: 100%;
	height: auto;
	border-top: 3px solid #171717; 
}
